<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <title>Mercado Libre de Impuestos</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <main>
    <h3 class="title__section">Basado en la ultima visita</h3>
    <section class="section-products">
      <% products.map((product)=>{%>
        <div class="card">
          <img src="<%= product.img %>" alt="<%= product.name %>"class="card__image" />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$<%= product.price%></p>
              <p class="card__discount"><%= product.discount%></p>
            </div>
            <p class="card__name"> <%= product.name%></p>
          </div>
        </div>
      <%}) %>
    </section>
    <h3 class="title__section">Productos destacados</h3>
    <section class="section-products">
      <% products.map((product)=>{%>
        <div class="card">
          <img src="<%= product.img %>" alt="<%= product.name %>"class="card__image" />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$<%= product.price%></p>
              <p class="card__discount"><%= product.discount%></p>
            </div>
            <p class="card__name"> <%= product.name%></p>
          </div>
        </div>
      <%}) %>
    </section>
  </main>
  <%- include("./partials/footer.ejs") %>
</body>
</html>